<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="QuestGame">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/quest_game.log"
                     filePattern="logs/quest_game.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{DEFAULT} %-5level %logger{36} : %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs/">
                    <IfFileName glob="*/quest_game.*.log"/>
                    <IfLastModified age="P7D"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>